<% if user_signed_in? %>
<header>
  <span class="light">Salut</span> <span class="account-menu">Étienne Després</span>
  <div class="account-menu-popup">
    <ul>
      <li><%= link_to t(:sign_out), :destroy_user_session, method: :delete %></li>
    </ul>
  </div>
  <a href="#" class="button">Écrire dequoi</a>
</header>
<% end %>
