<h1><%= t :communities %></h1>
<ul class="communities">
  <% @communities.each do |community| -%>
    <li>
      <h2><%= link_to community.name, community %></h2>
      <div class="secondary">
        <%= "#{community.users.size} #{t(:member).pluralize(community.users.size, :fr)}" %>
      </div>
    </li>
  <% end -%>
</ul>
<p><%= link_to t(:new_community), :new_community, class: :button %></p>
