aside {
  margin-bottom: 20px;
  
  @include tablet {
    @include span(4 of 12 break first);
    margin-top: 5px;
  }
  
  a {
    border-bottom: 1px solid;
    
    &:hover {
      @extend %highlighted;
    }
  }
}

.note {
  @extend %small-text;
  font-style: italic;
  margin-bottom: 14px;
  color: rgba($text-color, 0.6);
  
  a {
    border-bottom: $thin-border;
    
    &:hover {
      @extend %highlighted;
      border-bottom: $thin-border-hover;
    }
  }
}

article {
  @extend %serif;
  margin-bottom: 14px;
  
  @include tablet {
    @include span(8 of 12 last);
  }
  
  .actions {
    @extend %base-typography;
  }
  
  textarea, .wysihtml5-editor {
    clear: both;
    font: inherit;
    line-height: inherit;
    min-height: 350px;
    outline: none;
  }
}

ul.articles {
  @include tablet {
    @include span(8 of 12 first);
  }
  
  aside {
    margin-bottom: 0;
    
    @include tablet {
      @include span(7 of 8);
      @include post(1 of 8);
      margin-top: 0;
    }
  }
  
  article {
    margin-bottom: 35px;

    @include tablet {
      @include span(7 of 8);
      @include pre(1 of 8);
    }
    
    p {
      margin-bottom: 7px;
    }
    
    div.reactions {
      @extend %base-typography;
      margin-bottom: 14px;
      
      a {
        border-bottom: 1px solid;
        
        &:hover {
          @extend %highlighted;
        }
      }
      
      span.epithets {
        @extend .secondary;
        margin-left: 7px;
      }
    }
  }
  
  h2 {
    margin: 0 0 10px;
  }
}

section.filters {
  & > div {
    margin-bottom: 42px;
  }
  
  a.button {
    width: 100%;
    margin: 0;
  }
  
  h3 {
    margin-bottom: 4px;
  }
  
  ul {
    @extend .secondary;
    
    font-size: 14px;
    line-height: 25px;
    
    li {
      margin-bottom: 6px;
    }
  }
  
  @include tablet {
    @include span(3 of 12 last);
    @include pre(1 of 12);
  }
}

#toolbar {
  float: left;
  font-size: 14px;
  border: 2px solid rgba($text-color, 0.2);
  margin-bottom: 14px;
  
  a {
    float: left;
    padding: 4px 13px;
    border-left: 2px solid rgba($text-color, 0.2);
    
    &.wysihtml5-command-active {
      background-color: rgba($text-color, 0.2);
      
      &:hover {
        @extend %inverted;
      }
    }

    &:hover {
      @extend %inverted;
    }
    
    &:first-child {
      border-left: none;
    }

    &.bold, &.italic {
      font-size: 16px;
    }
        
    &.bold {
      font-weight: bold;
    }
    
    &.italic {
      font-style: italic;
    }
    
    &.heading {
      @extend %base-typography;
      line-height: inherit;
    }
  }
}