aside {
  @include tablet {
    @include span(4 of 12 break first);
    margin-top: 0.35rem;
  }
}

article {
  @extend %serif;
  margin-bottom: 2.5rem;
  
  @include tablet {
    @include span(8 of 12 last);
  }
  
  .actions {
    @extend %base-typography;
  }
}

ul.articles {
  @include tablet {
    @include span(8 of 12 first);
  }
  
  aside {
    @include tablet {
      @include span(7 of 8);
      @include post(1 of 8);
      margin-top: 0;
    }
  }
  
  article {
    @include tablet {
      @include span(7 of 8);
      @include pre(1 of 8);
    }
  }
  
  h2 {
    margin: 0 0 0.7rem;
  }
}

section.filters {
  @include tablet {
    @include span(3 of 12 last);
    @include pre(1 of 12);
  }
}

#toolbar {
  font-size: 14px;
  position: absolute;
  margin-top: -3.2rem;
  border: 2px solid rgba($text-color, 0.2);
  
  a {
    float: left;
    padding: 0.3rem 0.9rem;
    border-left: 2px solid rgba($text-color, 0.2);
    
    &.wysihtml5-command-active {
      background-color: rgba($text-color, 0.2);
    }

    &:hover {
      background-color: $text-color;
      color: $background-color;
    }
    
    &:first-child {
      border-left: none;
    }

    &.bold, &.italic {
      font-size: 16px;
    }
        
    &.bold {
      font-weight: bold;
    }
    
    &.italic {
      font-style: italic;
    }
    
    &.heading {
      @extend %base-typography;
      line-height: inherit;
    }
  }
}