aside {
  @include tablet {
    @include span(4 of 12 break first);
    margin-top: 0.35rem;
  }
}

article {
  @extend %serif;
  margin-bottom: 2rem;
  
  @include tablet {
    @include span(8 of 12 last);
  }
}

li article h2 {
  margin: 0 0 0.4rem;
}