$text-color: #414141;
$background-color: white;

%base-typography {
  font-family: "Clear Sans";
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  color: $text-color;
}

* {
  box-sizing: border-box;
}

html {
  @extend %base-typography;
}

body {
  margin: 4rem 1rem;
  
  @include tablet {
    @include container(96%);
  }
  
  @include desktop {
    @include container(960px);
  }
}

.light {
  font-weight: 100;
}

a {
  color: $text-color;
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

.secondary-links a {
  font-weight: 100;
  border-bottom: 1px solid rgba($text-color, 0.5);
  
  &:hover {
    border-bottom-color: inherit;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h1 {
  font-size: 40px;
  line-height: 52px;
}