* {
  box-sizing: border-box;
}

html {
  @extend %base-typography;
  padding-bottom: 10rem;
  background: image-url("gradient-overlay.jpg") no-repeat;
  background-size: 100% 100%;
}

body {
  margin: 0;
  padding: 4rem 1rem 8rem;
  background-color: $background-color;
  mix-blend-mode: screen;
}

div.grid-container {
  @include tablet {
    @include container(96%);
  }
  
  @include desktop {
    @include container(960px);
  }
}

a {
  color: $text-color;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  @extend %base-typography;
  font-weight: 500;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  margin: 2rem 0 8rem;

  @include tablet {
    @include span(8 of 12);
    @include post(4 of 12);
  }
}

h2 {
  font-size: 22px;
  line-height: 35px;
  margin: 1.5rem 0 0;
  
  a {
    border-bottom: 2px solid $text-color;
    
    &:hover {
      @extend %highlighted;
    }
  }
}

h3 {
  margin: 0.1rem 0 0.6rem;
}

p {
  margin: 0 0 1rem 0;
}