h1 a.mini {
  opacity: 0.4;
  font-size: 11px;
  border-bottom: 1px solid;
  
  &:hover {
    opacity: 1;
  }
}

ul.communities {
  margin-bottom: 2rem;
  
  @include tablet {
    @include span(full);
  }

  li {
    @include tablet {
      @include gallery(3 of 12);
    }
  }
}