section.epithets {
  @include tablet {
    @include span(4 of 12 first break);
  }
}

section.comments {
  @include tablet {
    @include span(8 of 12 last);
  }
  
  ul {
    clear: both;
  }
  
  li {
    margin-bottom: 2rem;
    transition: background-color 1.5s;
    
    &.highlighted {
      @extend %highlighted;
    }
  }
  
  a {
    border-bottom: 1px solid;
    
    &:hover {
      @extend %highlighted;
    }
  }
  
  div.body, textarea {
    @extend %serif;
    font-size: 14px;
    line-height: 24px;
  }
  
  div.body {
    margin-top: 0.2rem;
  }
  
  textarea {
    height: 10rem;
  }
  
  input[type=submit] {
    width: auto;
    margin-top: 0;
  }
}

section.epithets, section.comments {
  h1 {
    @include span(full);
    font-size: 24px;
    margin-bottom: 1.5rem;
  }
}