h1 a.mini.button {
  position: relative;
  top: -0.65rem;
  opacity: 0.2;
  
  &:hover {
    opacity: 1;
  }
}

ul.communities {
  margin-bottom: 2rem;
  
  @include tablet {
    @include span(full);
  }

  li {
    @include tablet {
      @include gallery(3 of 12);
    }
  }
}