section.epiteths {
  @include tablet {
    @include span(4 of 12 first break);
  }
}

section.comments {
  @include tablet {
    @include span(8 of 12 last);
  }
  
  ul {
    clear: both;
  }
  
  li {
    margin-bottom: 2rem;
    
    &.highlighted .metadata {
      @extend .notice;
    }
  }
  
  a {
    border-bottom: 1px solid;
    
    &:hover {
      @extend %highlight-padded;
    }
  }
  
  span.metadata {
    transition: background-color 1.5s;
  }
  
  div.body {
    margin-top: 0.2rem;
    @extend %serif;
    font-size: 14px;
    line-height: 24px;
  }
}

section.epiteths, section.comments {
  h1 {
    @include span(full);
    font-size: 24px;
    margin-bottom: 1.5rem;
  }
}