section.epithets {
  ul li a {
    @extend %no-select;
    float: left;
    border: 1px solid rgba($text-color, 0.15);
    padding: 3px 7px;
    margin: 0 7px 7px 0;
    cursor: pointer;
    
    &.selected {
      background-color: $highlight-color-light;
    }
    
    &.add {
      border: 2px solid $text-color;
      padding: 2px 8px;
    }
    
    &:hover, &.selected:hover {
      @extend %inverted;
    }
  }
}

#epithets-menu {
  padding-left: 14px;
  padding-right: 14px;
  
  form {
    margin-bottom: 0;
  }
  
  label {
    font-weight: normal;
  }
  
  input {
    width: 238px;
  }
  
  input[type=submit] {
    display: none;
  }
}