@font-face {
    font-family: 'Fira Mono';
    font-style: normal;
    font-weight: normal;
    src: font-url('FiraMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Mono';
    font-style: normal;
    font-weight: bold;
    src: font-url('FiraMono-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Noticia Text OSF';
    font-style: normal;
    font-weight: normal;
    src: font-url('NoticiaTextOSF-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Noticia Text OSF';
    font-style: italic;
    font-weight: normal;
    src: font-url('NoticiaTextOSF-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Noticia Text OSF';
    font-style: normal;
    font-weight: bold;
    src: font-url('NoticiaTextOSF-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Noticia Text OSF';
    font-style: italic;
    font-weight: bold;
    src: font-url('NoticiaTextOSF-BoldItalic.ttf') format('truetype');
}
