input {
  @extend %base-typography;
  border: 2px solid;
  background-color: white;
  padding: 0.5rem;
  margin: 0.9rem 0;
  width: 100%;
}

input:focus {
  border-color: $highlight-color;
  outline: none;
}

input[type=submit] {
  padding-left: 1rem;
  padding-right: 1rem;
}

label {
  display: block;
  margin: 1rem 0 0;
}

form .actions {
  margin-top: 0.5rem;
}