input {
  @extend %base-typography;
  border: 2px solid;
  background-color: white;
  padding: 0.5rem;
  margin: 0.8rem 0;
  width: 100%;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba($text-color, 0.15);
}

input[type=submit] {
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem;
  
  &:hover {
    color: $background-color;
    background-color: $text-color;
  }
}

label {
  display: block;
  margin: 1rem 0 0;
}

form .actions {
  margin-top: 0.5rem;
}