form {
  margin-bottom: 28px;
}

input, a.button, textarea, select, .wysihtml5-editor {
  @extend %base-typography;
  border: 2px solid rgba($text-color, 0.15);
  background-color: white;
  padding: 7px;
  margin: 11px 0;
}

input, textarea {
  width: 100%;
}

a.button {
  display: inline-block;
  
  &.mini {
    display: inline-block;
    font-size: 11px;
    padding: 2px 8px;
  }
}

input:focus, textarea:focus, div.wysihtml5-editor:focus {
  outline: none;
  border-color: $highlight-color;
}

input[type=submit], a.button {
  cursor: pointer;
  border-color: $text-color;
  padding-left: 13px;
  padding-right: 13px;
  text-align: center;
  
  &:hover {
    @extend %inverted;
    border-color: $text-color;
  }
}

a.button-link {
  display: inline-block;
  margin: 18px 0;
  border-bottom: 1px solid rgba($text-color, 0.5);
  
  &:hover {
    border-bottom-color: $text-color;
  }
}

label {
  display: block;
  margin: 14px 0 0;
}

form .actions {
  margin-top: 7px;
}

div.simple_form {
  @include tablet {
    @include span(4 of 12);
    @include push(4 of 12);
    @include post(4 of 12);
  }
}

h1 input, h1 textarea {
  font-size: inherit;
  line-height: inherit;
}

h1 textarea {
  padding: 7px;
  margin: -9px -8px;
}

.form_in_place {
}

article {
  input {
    width: auto;
    float: right;
  }
}