div.notice, div.alert {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  text-align: center;
}

div.alert {
  background: $yellow;
}

div.notice {
  background: #F6F1A9;
}

header {
  text-align: right;
  margin-bottom: 4rem;
  position: relative;
  
  span.popup-menu-link {
    @extend %no-select;
    
    margin-right: 1rem;
    cursor: pointer;
    
    &:after {
      position: absolute;
      content: " ";
      display: inline-block;
      width: 1rem;
      padding-left: 0.1rem;
      background: image-url("chevron-down.svg") no-repeat 100% 60%;
    }
    
    &:hover {
      border-bottom: 1px solid;
    }
  }
  
  span.popup-menu-link.account {
    margin-left: 2.2rem;
    
    &:before {
      position: absolute;
      top: 50%;
      margin: -20px 0 0 -1.2rem;
      content: "";
      border-left: 2px solid rgba($text-color, 0.2);
      height: 40px;
    }
    
    &:first-child:before {
      border: none;
    }
  }
  
  div.popup-menu {
    @extend %no-select;

    text-align: left;
    display: none;
    position: absolute;
    padding: 2px 0;
    border: 2px solid rgba($text-color, 0.2);
    background-color: $background-color;
    
    li {
      padding: 0 2px;
      
      &.separator-after {
        margin-bottom: 2px;
        padding-bottom: 2px;
        border-bottom: 2px solid rgba($text-color, 0.1);
      }
      
      &.separator-before {
        margin-top: 2px;
        padding-top: 2px;
        border-top: 2px solid rgba($text-color, 0.1);
      }
    }
    
    a {
      display: block;
      padding: 0.4rem 1rem;

      &:hover {
        @extend %highlight;
      }
    }

    &:before {
      position: absolute;
      top: -12px;
      left: 50%;
      margin-left: -10px;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent rgba($text-color, 0.2) transparent;
    }
    
    &:after {
      position: absolute;
      top: -9px;
      left: 50%;
      margin-left: -10px;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent white transparent;
    }
  }
  
  a.button {
    display: inline-block;
    width: auto;
    margin-left: 1rem;
  }
}

a.back {
  @extend .secondary;
  position: absolute;
  border-bottom: $thin-border;
  
  &:before {
    position: absolute;
    left: -1.5rem;
    content: ' ';
    display: inline-block;
    width: 1rem;
    background: image-url("arrow-left.svg") no-repeat 100% 60%;
  }
  
  &:hover {
    @extend %highlight-padded;
    border-bottom: $thin-border-hover;
  }
}