div.notice, div.alert {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 14px;
  text-align: center;
}

.alert {
  background: $yellow;
}

.notice {
  background: #F6F1A9;
}

header {
  text-align: right;
  margin-bottom: 56px;
  position: relative;
  
  span.popup-menu-link {
    @extend %no-select;
    
    margin-right: 14px;
    cursor: pointer;
    
    &:after {
      position: absolute;
      content: " ";
      display: inline-block;
      width: 14px;
      padding-left: 1px;
      background: image-url("chevron-down.svg") no-repeat 100% 60%;
    }
    
    &:hover {
      border-bottom: 1px solid;
    }
  }
  
  span.popup-menu-link.account {
    margin-left: 31px;
    
    &:before {
      position: absolute;
      top: 50%;
      margin: -20px 0 0 -17px;
      content: "";
      border-left: 1px solid rgba($text-color, 0.5);
      height: 40px;
    }
    
    &:first-child:before {
      border: none;
    }
  }
  
  a.button {
    display: inline-block;
    width: auto;
    margin-left: 14px;
  }
}

a.back {
  @extend .secondary;
  position: relative;
  margin-left: 21px;
  border-bottom: $thin-border-highlight;
  
  @include tablet {
    position: absolute;
    margin-left: 0;
  }
    
  &:before {
    position: absolute;
    left: -21px;
    content: ' ';
    display: inline-block;
    width: 14px;
    background: image-url("arrow-left.svg") no-repeat 100% 60%;
  }
  
  &:hover {
    @extend %highlighted;
    border-bottom: $thin-border-highlight-hover;
  }
}