$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

%base-typography {
  font-family: "Work Sans";
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
  color: $text-color;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%serif {
  font-family: "Noticia Text OSF";
  font-size: 18px;
  line-height: 29px;
  font-weight: normal;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
}

%small-text {
  font-size: 14px;
  line-height: 24px;
}

%inverted {
  background-color: $text-color;
  color: $background-color;
  border-color: $text-color;
}

%highlighted {
  background-color: $highlight-color-light;
}

%no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
